
.item {
  background-color: white;
  height: 280px;
}

.h1 {
  color: var(--bg-grey-light);
  font-weight: bold;
  letter-spacing: 2px;
}

.p {
  color: #d9d9d9;
  line-height: 2.2rem;
  margin-top: 2.25rem;
  letter-spacing: 3px;
}

.hr {
  border-color: #d9d9d9;
  opacity: 0.8;
  margin-top: 30px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #d9d9d9;
  font-size: 18px;
  line-height: 2.5rem;
}

.star {
  color: #d9d9d9;
  display: flex;
  align-items: center;
}

.span {
  margin-left: auto;
}

.warning {
  margin-left: auto;
  background-color: #b99755;
  color: white;
  border-radius: 50px;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
/* audioPlayer.module.css */
/* audioPlayer.module.css */
@keyframes sound {
  0% {
    height: var(--min-height);
  }
  100% {
    height: var(--max-height);
  }
}

.soundBar {
  width: 3px;
  background: white;
  margin: 0 1px;
  animation: sound 0.5s linear infinite alternate;
}

.playerButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.soundBarsContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 35px;
  height: 60px; /* 設置一個固定高度 */
}