.d-grid {
    grid-template-columns: auto auto auto;
  }
  .pd-features {
    height: 500px;
  }
  .container {
    max-width: 1200px;
    /* margin-bottom: 5rem; */
    padding:0;
  }

  .add-line::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    background: #d9d9d9;
  }

