@import '@/styles/variables.scss';

.card-01 {
  margin: auto;
  p {
    @include font-small;
  }
  span {
    @include font-small;
    text-align: start;
  }

  .arrow {
    position: absolute;
    bottom: 3px;
    right: -50px;
  }
}
