.orderDetailContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background-color: white;
  border-radius: var(--content-radius);
  box-shadow: var(--card-shadow);
}

.orderDetailContent {
  display: flex;
  gap: 48px;
}

.orderDetailLeft {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 50%;
}

.orderDetailRight {
  width: 50%;
}


.orderInfoBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-grey-light);
}

.orderReviewHintBox {
  display: flex;
  gap: 2rem;
}

.orderReviewHintBox img {
  width: 8rem;
  align-self: flex-end;
}

.orderReviewDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--pri-3);
}

.orderReviewDialog p {
  margin-bottom: 1.5rem;
}

.orderReviewDialog a {
  align-self: end;
}

@media screen and (max-width: 1120px) {
  .orderDetailContent {
    flex-direction: column;
  }

  .orderDetailLeft {
    width: 100%;
  }
  
  .orderDetailRight {
    width: 100%;
  }

  .orderReviewHintBox {
    flex-direction: column;
  }

  .orderReviewHintBox img {
    order: 1;
  }

  .orderInfoRow {
    flex-direction: column;
    gap: .125rem;
  }

  .orderDetailBox {
    padding: 1.25rem;
  }

}


@media screen and (max-width: 480px) {
  .orderDetailContainer {
    padding: 1.25rem;
  }
}