@import '@/styles/variables.scss';

.dorpZone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 3px dashed $text-grey;
  border-radius: 8px;
  background-color: $pri-3;
  color: $text-grey;
  outline: none;
  transition: all 0.24s ease-in-out;
}

.accept {
  border-color: $success;
  color: $success;
}
.reject {
  border-color: $danger;
  color: $danger;
}
