.infoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infoBox p {
  font-size: 1rem;
  margin-bottom: .375rem;
}

.iconTextRow span {
  font-size: .875rem;
}

.iconTextRow {
  display: flex;
  align-items: center;
  gap: .375rem;
}

.iconTextRow svg {
  width: .75rem;
  fill: var(--sec-1);
}