<% locals.pageName ||='' ; %>

    <style>
        .navbar-nav .nav-link.active {
            /* background-color: lightblue; */
            color: white;
            font-weight: 900;
            border-radius: 6px;
        }
        #logoutbtn{
            cursor: pointer;
        }
    </style>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/productCMS">密室逃脫後台管理</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link <%= pageName==='pd_list' ? 'active bg-primary' : '' %>" href="/productCMS">商品列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= pageName==='wh_list' ? 'active bg-primary' : '' %>" href="/warehousing">庫存列表</a>
                        </li>

                    </ul>

                    <ul id="loginStatus" class="navbar-nav mb-2 mb-lg-0">
                        <!-- 登入狀態 -->
                       
                          
                                
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <script>
        let userToken = JSON.parse(localStorage.getItem('knock-knock-auth'))
        
        const loginStatus=document.querySelector("#loginStatus")
        console.log('token:',userToken)
        if(userToken){
            loginStatus.innerHTML=` <li class="nav-item">
                                <a class="nav-link">
                                     ${userToken.nickname}
                                </a>
                            </li>
                            <li class="nav-item">
                                <p id="logoutbtn" class="nav-link" onClick="logout()" aria-current="page">登出</p>
                            </li>`
        }else{
            loginStatus.innerHTML=` <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/login">登入</a>
                                </li>`
        }

        const logout=()=>{
            localStorage.removeItem('knock-knock-auth')
            location.href = "/productCMS";
        }
    </script>
    