.couponCard {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: .75rem;
}

.couponCardLeft {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 1.5rem 1rem 1rem;
  background-color: var(--pri-1);
  border-right: 1.5px dashed var(--pri-3);
}

.couponCardRight {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  background-color: var(--pri-1);
}

.history {
  opacity: 0.75;
}

.couponCard img {
  width: 6rem;
}

.couponInfo p {
  color: white;
}

.textBox p {
  font-size: 14px;
}

.textBox {
  margin: 6px 0;
}

.couponCardLeft::before,
.couponCardLeft::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}

.couponCardLeft::before {
  top: -8px;
  right: -8px;
}

.couponCardLeft::after {
  bottom: -8px;
  right: -8px;
}

.couponStatusTag {
  position: absolute;
  top: 0;
  left: 0;
  padding: .25rem .5rem;
  color: white;
  font-size: .75rem;
  border-bottom-right-radius: .75rem;
  background-color: var(--text-grey);
}

@media screen and (max-width: 480px) {

  .couponCardLeft {
    padding: .5rem .75rem .5rem .5rem;
  }

  .couponCardRight {
    padding: 1rem .625rem 1rem 1rem;
  }

  .couponCard img {
    width: 3.5rem;
  }
}