
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
h5,p{
  margin: 0;
}
h3{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: .625rem;

}
ul,li{
  list-style-type:none;
  margin: 0;
  padding:0;
}
.container {
  display: flex;

}
.sidebar {
  width: 12.5rem;
  height: 100%;
}


.card-left{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body{
  margin: 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.card-left .fa-user {
  font-size: 40px;
}
.card-text{
  font-size: 14px;
}
.card-title{
  padding: 0;
}


.rightArea {
  width: 100%;
  border: #333 solid 1px;
  position: relative;
  /* max-height: calc(100vh - 83px); */

  display: flex;
  flex-direction: column;
}
.rightArea h3{
  display: flex;
  align-items: center;
}


#messages {
  list-style-type: none;
  position: relative;
  height: 100%;
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  padding: 0 12px;
  overflow: scroll;
  scrollbar-width: none;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

.bottom{
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  width: 100%;
  height: auto;
  padding: 12px;
  border-top: 1px solid #eef1f6;
}
#form {
  /* background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem; */
  width: 100%;
  /* backdrop-filter: blur(10px);
*/  display: flex;
  box-sizing: border-box;
  align-items: center; 
}
#input {
  width: 100%;
  height: 1.875rem;
  font-size: large;
}

#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
.userImg{
  max-width: 200px;
  height: auto;
  padding-left: 8px;
}
.userArea{
  display: flex;
}