.formBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 0;
}

.span2 {
  grid-column: span 2;
}

@media screen and (max-width: 480px) {
  .formBox {
    display: flex;
    flex-direction: column;
  }
}