.d-grid {
  grid-template-columns: auto auto auto;
}
.pd-features {
  height: 500px;
  max-width: 1200px;
  margin: auto;

}
.container {
  max-width: 1200px;
  margin-bottom: 5rem;
  padding:0;
}

.add-line::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background: #d9d9d9;
}

.price {
  font-family: 'Noto Serif JP';
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
}
.title {
  font-family: 'Noto Serif JP';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.2px;
}
.content {
  font-family: 'Noto Serif JP';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  display: flex;
  align-items: center;
}
