.orderBox {
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: var(--content-radius);
  box-shadow: var(--card-shadow);
}

.orderBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.orderInfoRowBox {
  margin-bottom: 1.25rem;
}

.imgListBox {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@media screen and (max-width: 1080px) {
  .orderBody {
    flex-direction: column;
    gap: 1.5rem;
  }

  .imgListBox {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
