/* dividers */
.horizontalDivider {
  width: 100%;
  height: 2px;
  background-color: var(--pri-3);
  margin: 1.5rem 0;
}

.verticalDivider {
  width: 2px;
  background-color: var(--pri-3);
  align-self: stretch;
}


.itemImgBox {
  overflow: hidden;
  flex: none;
  width: 8rem;
  height: 8rem;
  border-radius: var(--img-radius);
}


.itemImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}