@import '@/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

.home-section3 {
  position: 'relative';
  background: url('/bg-dark.png') no-repeat;
  background-size: cover;
  height: 52rem;
  padding: 5.25rem 0;
  text-align: center;
  gap: 4rem;
  > .title {
    width: 330px;
    border-bottom: 1px solid #A3A3A3;
    padding: 13px;
    margin: 0 auto 4rem auto;
    h1 {
      @include font-h1;
      color: #A3A3A3;
      font-family: 'Jolly Lodger', 'Noto Serif JP';
      
    }
  }
}
