/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

/* .checkout-module {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 448px;
  height: 100vh;
  padding: 2rem;
  background-color: white;
}

.checkout-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



 */

/* .total {
  text-align: right;
} */

.checkoutTitle {
  display: flex;
  align-items: center;
  gap: .75rem;
}

/* .checkoutTitle h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
} */


.cartItemCount {
  background-color: var(--sec-1);
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
}

.itemBox {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.itemInfo {
  flex: auto;
  font-weight: bold;
}

.itemPrice {
  display: flex;
  align-items: baseline;
  gap: .5rem;
  margin: 0;
}

.itemPrice small {
  /* color: var(--text-grey);
  font-size: .75rem;
  font-weight: normal; */
  text-decoration: line-through;
}

/* .numberInput {
  margin-top: .5rem;
} */




/* .checkout-module .btn-medium-fill {
  justify-content: flex-end;
  align-self: flex-end;
} */

.numberInput {
  display: flex;
  gap: .25rem;
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: white;
  border: 1px solid var(--input-grey);
}

.stepperNumber {
  width: 1.5rem;
  text-align: center;
}

.addToFavoriteIcon {
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  /* .checkout-module {
    width: 90%;
    padding: 1.25rem;
  } */
  .itemBox {
    gap: 1rem;
  }

  .itemBox span{
    font-size: 1rem;
  }

  .item-img-box {
    width: 5rem;
    height: 5rem;
  }
}