.offcanvasBody {
  margin: 1.5rem;
}

.checkoutTitle {
  display: flex;
  align-items: center;
  gap: .75rem;
  margin-bottom: 1.5rem;
}


.cartItemCount {
  background-color: var(--sec-1);
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
}

.itemBox {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.itemInfo {
  flex: auto;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5em;
}

.itemPrice {
  display: flex;
  align-items: baseline;
  gap: .5rem;
  margin: 0;
}

.itemPrice small {
  color: var(--text-grey);
  /* font-size: .75rem;
  font-weight: normal; */
  text-decoration: line-through;
}

.addToFavoriteIcon {
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  /* .checkout-module {
    width: 90%;
    padding: 1.25rem;
  } */
  .itemBox {
    gap: 1rem;
  }

  .itemBox span{
    font-size: 1rem;
  }

  .item-img-box {
    width: 5rem;
    height: 5rem;
  }
}